@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
    
}
body
{
    
    width: 100%;
    
}
header
{
    
    
    
    top: 0px;
    left: 0px;
    
    padding: 10px 30px;
    z-index: 1000;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    
    
}
.loginHeader
{
    position: fixed;
    width: 100%;
    padding: 10px 100px;
    background-color: #ffffff93;
    
}
header .logo
{
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}
header .logo span
{
    color: #76cf1c;
    text-shadow: 0px 0px 1px #000000c2;
}
 .navigation
{
    position: relative;
    display: flex;
}
 .navigation li
{
    display: flex;
    align-items: center;
    
    list-style: none;
    margin-left: 30px;
    user-select: none;
}
 .navigation li a
{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
 .navigation li a:hover
{
    color: #50950a;
    text-shadow: 2px 0px 2cqmax #ffffff;
}
.navigation li .cartIcon img
{
    height: 35px;
    width:auto;
    filter: grayscale(100%);
}
.navigation li .cartIcon img:hover
{
    filter: grayscale(0);
}
 .navigation li .join_icon
{
    font-size:medium;
    font-weight: 600;
    margin-left: -15px;
    width: 150px;
    height: 45px;
    
    border-radius: 10px;
    
    color: #68bc14;
    transition: 0.4s;
    border-radius: 20px;
    border: 3px solid #80e719;
    
}
 .navigation li .join_icon:hover
{
    color: #ffffff;
    background-color: #80e719;
    
    
    transform: scale(1.1);
    
}
/* .navigation li .logined
{
    height: 40px;
    width: 40px;
    flex-direction: row;
    text-decoration:line-through;
    overflow: hidden;
} */

.logined .nameOutput
{
    display: none;
    position: absolute;
    line-height: 30px;
    z-index: 1000;
    top: 30px;
    right: 10px;
    height: auto;
    width: auto;
    padding: 10px;
    background-color: #e4e4e4;
    border: 1px solid #71dc0c;
    border-radius: 10px;
    transition: .4s;
}
.logined:hover .nameOutput
{
    display: block;
}
.nameOutput:hover
{
    display: block;
}

.loginedpop
{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(228, 228, 228);
    border: 3px solid #68bc14;
    color: #68bc14;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    /* display: ruby; */
    display: none;
}
.loginedpop img
{
    margin-left: 10px;
    height: 25px;
}


.slides
{
    
    margin-top:40px;
    height: 550px;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideimg
{
    width: 80%;
    height: 550px;
    border-radius: 15px;
    object-fit: cover;
}
.title1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 550px;
    border-radius: 15px;
    background-color: #00000069;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.title1 .title2
{
    display: ruby;
    justify-content: center;
    align-items: center;
}
.title1 .title2 h1
{
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 0 0 10px #000000;
}
.title1 .title2 ul
{
    margin-top: 20px;
    padding: 10px 100px;
    
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.title1 .title2 ul li
{
    list-style: none;
}
.title1 .title2 ul li a
{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    text-decoration: none;
}
.search-container {
    margin: 30px;
    position: relative;
    width: 400px;
  }
  
  #searchInput {
    width: 100%;
    padding: 16px 40px 16px 16px; 
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid white;
    background-image: url('search_icon2.jpg'); 
    background-repeat: no-repeat;
    background-position: right 16px center; 
    background-size: 40px 40px; 
  }
  
  #searchInput:focus {
    outline: none;
    border-radius: 10px 10px 0 0;
  }
  
  #suggestions {
    position: absolute;
    
    
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #000000;
    border-top: none;
    display: none;
    border-radius: 0 0 10px 10px;
    text-align: left;
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion:hover {
    background-color: #ddd;
    border-radius: 10px 10px;
  }
  
.BrowseE
{
    
    
    width: 80%;
    
    height: inherit;
    margin: auto;
    
    margin-top: 70px;
    margin-bottom: 70px;
    
    

}
.Btitle h1
{
    font-size: xx-large;
    width: 100%;
    padding: 0 0 20px 0;
}
.BrowseE .browse-container
{
    border-radius: 9px solid black;
    
    
    display: flex;
    
    align-items: center;
    justify-content:start;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.BrowseE .browse-container .Bproduct
{
    height: 300px;
    width: 280px;
    margin: 5px;
    padding: 5px;
    transition: all ease 0.3s;
    border-radius: 10px;
    display:ruby;
    background-color: #ffffffa1;
    box-shadow: rgba(99, 99, 99, 0.14) 0px 2px 8px 0px;
}
.BrowseE .browse-container .Bproduct:hover
{
    box-shadow: rgba(99, 99, 99, 0.526) 0px 2px 10px 0px;
}
.BrowseE .browse-container .Bproduct img
{
    height: 150px;
    
    width: 270px;
    
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(181, 181, 181, 0.244);
    border-radius: 10px;
    
}
.BrowseE .browse-container .Bproduct h3
{
    margin: 5px 0 0 0;
    
    width: 100%;
    font-weight: 500;
    
}
.BrowseE .browse-container .Bproduct .rating
{
    
    height: 20px;
    width: 100%;
    padding: 0 0 0 15px;
    
    overflow: hidden;
    
    
}
.stars-container {
    transform: scale(1.5);
    
    display: inline-block;
    color: transparent;
  }
  
  .stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
  }
  
  .stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden;
  }
  
  .stars-0:after { width: 0%; }
  .stars-10:after { width: 10%; }
  .stars-20:after { width: 20%; }
  .stars-30:after { width: 30%; }
  .stars-40:after { width: 40%; }
  .stars-50:after { width: 50%; }
  .stars-60:after { width: 60%; }
  .stars-70:after { width: 70%; }
  .stars-80:after { width: 80%; }
  .stars-90:after { width: 90%; }
  .stars-100:after { width: 100; }

.BrowseE .browse-container .Bproduct .buy
{
    width: 40%;
    height: 40px;
    
    display: flex;
}
.BrowseE .browse-container .Bproduct .tags
{
    margin: 10px 0 0 -10%;
    
    width: 40%;
}
.navshort
{
    text-decoration: none;
    margin: 20px 0 0 15px;
    color: #00000094;
    padding: 4px 6px;
    border-radius:7px;
    background-color: #d7d7d79b;
    transition: 0.2s;
    font-size:  0.9rem;
    font-weight: 600;
    width: 100%;
}
.navshort:hover
{
    background-color: #c6c6c6;
}
 .cost
{
    
    width: 100%;
    height: 40px;
    font-weight: 500;
    font-size: 1.3rem;
    
    
    
    
}
.buy a
{
    
    text-decoration: none;
    padding: 7px;
    border-radius: 25px;
    color: #68bc14;
    font-weight: 600;
    border: 3px solid #80e719;
    transition: 0.2s;
}
.buy a:hover
{
    background-color: #80e719;
    color: #ffffff;
}

.Btags
{
    height: 200px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:start;
    flex-wrap: wrap;
    justify-content:flex-start;
    
}
.Btags .tags
{
    margin: 20px 0 0 15px;
    
    width: 100%;
}
.Btags .tags .navshort
{
    padding: 7px 20px;
    font-weight: 600;
    font-size: large;
    color: #000000aa;
}

footer .container{
    max-width: 1170px;
    margin:auto;
}
footer .row{
    display: flex;
    flex-wrap: wrap;
}
footer ul{
    list-style: none;
}
.footer{
    height: 50vh;
    background-color: #24262b;
    padding: 1px 0;
    padding-top: 70px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color:#68bc14;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
}
}
.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 30%;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 300;
}

.loginbox
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background: url('login background img/pexels-photo-440731.jpeg');
    background-size: cover;
    display: flex;
}
.LBox
{
    
    margin-top: 20px;
    width: 350px;
    height: 490px;
    border-radius: 15px;
    
    box-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 0px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
    
    backdrop-filter: blur(20px) brightness(130%);
    
}
.SignTi
{
    font-size: 2em;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;

}
.LBox .SignTi span
{
    color: #71dc0c;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 2px 0px 3cqmax #000000;
}
.LForm
{
    padding-top: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.LText
{
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: 400;
    transition: 0.2s;
}
.LForm input{
    color: invert;
    background: transparent;
}
.YinputId
{
    height:40px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
    font-size: 0.95em;
    font-weight: 500;
    margin-bottom: 10px;
}
.YinputId:focus
{
    
    
    border: 2px solid #68bc14;
    outline: none;
}
.YinputPass
{
    height: 40px;
    width: 91%;
    border-radius: 30px;
    border: 1px solid black;
    padding: 0px 30px 0px 15px;
    font-size: 0.95em;
    font-weight: 500;
    outline: none;
}
.YinputPassWrong
{
    border: 2px solid #ff5601;
}
.LTextP
{
    color: #ff5601;
    font-size: 1.1em;
    font-weight: 400;
}
.YinputPass:focus
{
    
    
    border: 2px solid #68bc14;
}
#checkP
{
    
    margin-left: 5px;
    height: 15px;
    width: 15px;
    accent-color: #68bc14;
}
.passAl
{
    height: 35px;
    width: 100%;
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 12px;
}
.LCheckbox
{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 0.8em;
    color: #484647;
    font-weight: 500;
}
#checkTC
{
    accent-color: #68bc14;
}
.submitB
{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border-radius: 50px;
    border-width: 1px;
    background-color: #68bc14;
    border-width: 0px;
    color: rgb(255, 255, 255);
    
    
    font-size: 1.1em;
}
.submitBL
{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border-radius: 50px;
    border-width: 2px;
    border-color: #68bc14;
    
    color:#68bc14;
    text-shadow: 2px 0px 1cqmax #ffffff;
    
    font-size: 1.1em;
}
.submitBL:hover
{
    background-color: #68bc142f;
    
    box-shadow: 0px;
    color: #000000;
}
#gSignInWrapper
{
    padding-left: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    display: flex;
}
#customBtn 
{
    margin-top: 0px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 1000px;
    background: url('product/Google-Logo-Transparent-Background.png');
    background-color: #ffffff0c;
    background-size: cover;
    
}
#customBtn:hover 
{
    cursor: pointer;
}

#slideshow {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width:100%;
  height:100%;
  display: inline-block;
  background-image: url('login background img/pexels-photo-1443867.jpeg');
  background-size: cover;
}
.elemnt,.elemnt1,.elemnt2,.elemnt3 {
position: absolute;
left: 0;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
display: inline-block;
text-align: center;
}
.elemnt {
  animation: xfade 16s 8s infinite;
  background-image: url('login background img/pexels-photo-1443867.jpeg');
}
.elemnt1 {
  animation: xfade 16s 6s infinite;
  background-image: url('login background img/pexels-k-zoltan-544554.jpg');
  
}
.elemnt2 {
  animation: xfade 16s 2s infinite;
  background-image: url('login background img/pexels-photo-440731.jpeg');
}
.elemnt3 {
  animation: xfade 16s 0s infinite;
  background-image: url('login background img/pexels-noel-mcshane-1036148.jpg');
  
}
@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade1{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade2{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade3{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}